<div class="main-container">
  <div class="text-center">
    <h3>モノと人との出会い</h3>
    <h2><span class="text-danger">D</span>ansha<span class="text-danger">L</span>ist</h2>
  </div>
</div>
<div class=text-center>
    <h4>DanshaListはモノと人が出会う場所です</h4>
  </div>  
<div class="main pt-2">
  <div class="container">
    <div class="intro text-center border pt-2 col-md-8 offset-md-2">
        <h4>DanshaListとは</h4>
        <h5>使わなくなった大切なモノを大切に使ってくれる人へ</h5>
        <p>DanshaListはかつてだれかが使っていた大切なモノを次に大切に使ってくれる人へ譲り渡すためのサービスです。</p>
      </div>
    <div class="give  border mt-4 col-md-8 offset-md-2">
        <div id="give" class="text-center pt-2">
          <h4>譲りたい方</h4>
          <h5 class="text-center pt-2">1:出品してください</h5>
          <p>サービスの最上部に「追加」のボタンがあります。<br>
          「追加」ボタンを押してあなたの大切なアイテムを追加してください</p>
          <h5 class="text-center pt-2">2:譲りたい相手を選んでください</h5>
          <p>あなたのアイテムをほしいと思った方からアツいコメントが来ます。<br>
          本当に譲りたいと思った方を選んでください。</p>
          <h5 class="text-center pt-2">3:譲りたい方にダイレクトメッセージを送ってください</h5>
          <p>本当に譲りたいと思った方がいればその方のページへ行ってダイレクトメッセージでやりとりしてください。</br></p>
        </div>
        
        
        
      </div>
    <div class="want  border mt-4 col-md-8 offset-md-2">
        <div id="want" class="text-center pt-2">
          <h4>欲しいモノがあった方</h4>
        </div>
        <h5 class="text-center pt-2">コメント欄でアツい思いを伝えよう</h5>
        <p>出品されているアイテムは出品された方が大切に使っていたアイテムです。
        あなたのほしいアイテムに対するアツい思いをコメント欄で伝えたら出品者からダイレクトメッセージが来るかも。。</p>
      </div>
  </div>
</div>