<div class="main-container">
  <div class="text-center">
    <h3>モノと人との出会い</h3>
    <h2><span class="text-danger">D</span>ansha<span class="text-danger">L</span>ist</h2>
  </div>
</div>
<div class="text-center">
  <h5>使わなくなった大切なモノを<br>誰かに使ってもらいたくありませんか？</h5>
</div>
<div class="main">
  <div class="container">
    <!--検索-->
    <!--<p>検索</p>-->
    <!--  <#%= form_tag(items_path,:method => 'get') do %>-->
    <!--    <%#= text_field_tag :search %>-->
    <!--    <%#= submit_tag 'Search', :name => nil %>-->
    <!--  <%# end %>-->
      <!--アイテム一覧-->
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-4 text-center mt-0 mb-0">
          <div class="card">
            <div class="card-img-top">
              <%if item.image?%>
                <%= image_tag item.image.to_s, :size => '200x250', :alt => 'アイテム画像'%>
              <% else %>
                <%= image_tag "https://res.cloudinary.com/hqf8k8ltl/image/upload/v1592051211/m_e_others_500_dr00a1.png", :size => '200x250', :class => "border", :alt => 'アイテム画像' %>
              <% end %>
            </div>
            <div class="card-body bg-secondary">
              <div class="card-title">
                <%= link_to item.name, item , class: 'text-light'%>
              </div>
            </div>
          </div>  
        </div>
      <% end %>
    </div>
    <div class="pull-right">
      <%= paginate @items %>
    </div>
  </div>
</div>

<!--<ul><%# @posts.each do |post| %>-->
<!--  <li>-->
<!--    <%#= link_to post.title, post %>-->
<!--    <%#= post.created_at %>-->
<!--    <%#= post.status %>-->
<!--  </li>-->
<!--</ul>-->
