<div class="main-container">
  <div class="text-center">
    <h3>モノと人との出会い</h3>
  </div>
</div>
<div class="text-center">
  <h5>使わなくなった大切なモノを<br>誰かに使ってもらいたくありませんか？</h5>
</div>
<div class="main">
  <div class="container">
    <h1>aaaa</h1>
  </div>
</div>
