<% items.each do |item| %>
  <div class="col-md-4 text-center mt-0 mb-0">
    <div class="card">
      <div class="card-img-top">
        <%if item.image?%>
          <%= image_tag item.image.to_s, :size => '200x250', :alt => 'アイテム画像'%>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/hqf8k8ltl/image/upload/v1592051211/m_e_others_500_dr00a1.png", :size => '200x250', :class => "border", :alt => 'アイテム画像' %>
        <% end %>
      </div>
      <div class="card-body bg-secondary">
        <div class="card-title">
          <%= link_to item.name, item , class: 'text-light'%>
        </div>
      </div>
    </div>  
  </div>
<% end %>