// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    margin: 0 auto;
}

th {
    background-color: #EEEEEE;
    width: 120px;
}
th, td {
    border: solid 1px;
}
#item_image {
    display:none;
}
#image {
    cursor: pointer;
}
.relative {
    position: relative;
    svg {
        color: white;
        position: absolute;
        top: 35%;
        left: 45%;
    }
}

.img_wrap{
  border: 1px solid #ddd;
  width: 200px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
}
.img_wrap img{
  opacity: 0.6;
}
.img_wrap:hover img{
  opacity: 0.4;
  transition-duration: 0.3s;
}


// .relative {
//     position: relative;
    
//     i {
//         position: absolute;
//         top: 30%;
//         left: 30%;
//     }
// }

/*div要素全体にリンクをつけるために必要な要素*/
.card {
    position: relative;
}
.card a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

/* 以下見た目をわかりやすくするための設定*/
.card {
    border: solid .5px #000000;
}
.card a:hover{/* マウスオーバー時に色変更*/
    opacity: 0.1;
    background-color: #000000;
}
.c-b-bg {
    background-color: #343a40;
}
.card-title {
    margin-bottom: 0;
}