// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    margin: 0 auto;
}

th {
    background-color: #EEEEEE;
    width: 120px;
}
th, td {
    border: solid 1px;
}
#item_image {
    display:none;
}
#image {
    cursor: pointer;
}
.relative {
    
    position: relative;
}
svg {
    position: absolute;
    top: 35%;
    left: 45%;
}

// .relative {
//     position: relative;
    
//     i {
//         position: absolute;
//         top: 30%;
//         left: 30%;
//     }
// }

